---
import { Icon } from "@iconify/react";
import roundDoubleAltArrowRightLinear from "@iconify/icons-solar/round-double-alt-arrow-right-linear";
import roundDoubleAltArrowLeftLinear from "@iconify/icons-solar/round-double-alt-arrow-left-linear";

const { collectionPages, currentPageSlug, collection } = Astro.props;

let currentPageIndex = collectionPages?.findIndex(
  (page: any) => page.slug === currentPageSlug
);

const previousPage = collectionPages[currentPageIndex - 1];
const nextPage = collectionPages[currentPageIndex + 1];
---

<div class="flex flex-row my-12 flex-wrap">
  <div class="w-full md:w-1/2 text-left p-2">
    {
      !!previousPage && (
        <a
          class="flex p-4 no-underline items-center justify-start border border-slate-300 rounded-xl shadow"
          href={`/${collection}/${previousPage.slug}`}
        >
          <Icon client:only icon={roundDoubleAltArrowLeftLinear} width={48} className="block w-[48px] min-w-[48px]" />
          <div class="pl-2 truncate">
            <div class="text-base">Previous <span class="sr-only">Post</span></div>
            <div class="text-2xl font-bold truncate">
              {previousPage.data.title}
            </div>
          </div>
        </a>
      )
    }
  </div>
  <div class="w-full md:w-1/2 text-right p-2">
    {
      !!nextPage && (
        <a
          class="flex p-4 no-underline  items-center justify-end border border-slate-300 rounded-xl shadow"
          href={`/${collection}/${nextPage.slug}`}
        >
          <div class="pr-2 truncate">
            <div class="text-base">Next <span class="sr-only">Post</span></div>
            <div class="text-2xl font-bold truncate">
              {nextPage.data.title}
            </div>
          </div>
          <Icon client:only icon={roundDoubleAltArrowRightLinear} width={48} className="w-[48px]  min-w-[48px]" />
        </a>
      )
    }
  </div>
</div>
