---
import { Icon } from "@iconify/react";
import linkDuotone from "@iconify/icons-ph/link-duotone";

const { level, id } = Astro.props;

const Element: any = `h${level}`;
---

<div id={id} class="pt-[4rem] pb-0">
  <a href={`#${id}`} class="no-underline">
    <Element class="relative group !m-0" data-slug={id}>
      <div class="absolute right-full top-1 mr-2 group-hover:block hidden">
        <Icon icon={linkDuotone} />
      </div>
      <slot />
    </Element>
  </a>
</div>
