---
import Layout from "@/layouts/Layout.astro";
import Documentation from "@/layouts/Documentation.astro";
import { Card, CardHeader, CardTitle, CardContent } from "@/components/ui/card";

import Icon from "astro-icon";

// import { Icon } from "@iconify/react";
// import roundDoubleAltArrowRightLinear from "@iconify/icons-solar/round-double-alt-arrow-right-linear";
// import documentAddBold from '@iconify/icons-solar/document-add-bold';
// import rocket2Bold from '@iconify/icons-solar/rocket-2-bold';
// import windowFrameBold from '@iconify/icons-solar/window-frame-bold';
// import book2Bold from '@iconify/icons-solar/book-2-bold';

import { buttonVariants } from "@/components/ui/button";
interface HelpSection {
  icon: string;
  title: string;
  description: string;
  link: string;
  linkText: string;
}

const sections: HelpSection[] = [
  {
    title: "Getting Started",
    description:
      "We have put in a lot of effort to make sure that you can get up and running as quickly as possible.",
    link: "/documentation/getting-started",
    linkText: "Get Started",
    icon: "phosphor/duotone/rocket-launch-duotone"
  },

  {
    title: "Core Concepts",
    description:
      "There are a couple fundamental concepts to understand about Vexilla",
    link: "/documentation/core-concepts",
    linkText: "Learn More",
    icon: "phosphor/duotone/book-duotone"
  },

  {
    title: "Application",
    description:
      "The Application is where you will configure your flags and push them up to your VCS provider.",
    link: "/documentation/application",
    linkText: "Start Cooking",
    icon: "phosphor/duotone/app-window-duotone"
  },

  {
    title: "Contributing",
    description:
      "There is always more work to do. We would love it if you wanted to help improve the docs, translations, or Client SDK support.",
    link: "/documentation/contributing",
    linkText: "Join the Party",
    icon: "phosphor/duotone/note-pencil-duotone"
  },
];
---

<Layout title="Documentation | Vexilla">
  <Documentation>
    <h1>Documentation</h1>
    <div class="flex flex-wrap">
      {
        sections.map((section) => (
          <div class="w-full md:w-1/2 p-2">
            <Card className="h-full flex flex-col">
              <CardHeader>
                <CardTitle className="!m-0 flex flex-row items-center">
                  <Icon name={section.icon} width={32} />
                  <a href={section.link} class="no-underline ml-2">
                    {section.title}
                  </a>
                </CardTitle>
              </CardHeader>
              <CardContent className="flex flex-col h-full">
                <p class="flex flex-1">{section.description}</p>
                <div class="flex flex-row justify-end mt-auto">
                  <a
                    class={`flex flex-row items-center no-underline ${buttonVariants(
                      {
                        variant: "outline",
                      }
                    )}`}
                    href={section.link}
                    aria-hidden="true"
                  >
                    {section.linkText}

                    <div class="ml-2">
                      <Icon name="phosphor/duotone/arrow-circle-right-duotone" width={24} />
                    </div>
                  </a>
                </div>
              </CardContent>
            </Card>
          </div>
        ))
      }
    </div>
  </Documentation>
</Layout>
